{% extends 'base.html'%}
{% block content %}
<style>
    .card{
        background-color:#f236;
    }
</style>
    <div class="container py-4">
        <h2 class="mb-4">Admin Panel</h2>

        <div class="row g-3">
            <div class="col-md-4">
                <div class="card text-center shadow-sm">
                    <div class="card-body">
                        <h6 class="text-muted">Name</h6>
                        <h2>{{ users }}</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-center shadow-sm">
                    <div class="card-body">
                        <h6 class="text-muted">Phonenumber</h6>
                        <h2>{{ orders }}</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-center shadow-sm">
                    <div class="card-body">
                        <h6 class="text-muted">Collections (tsh)</h6>
                            <h2>{{ pay }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-outline-success mt-5" href="{{url_for('Ceo.add_product')}}">add product</a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-outline-warning mt-5" href="{{url_for('payment.lipa_self')}}">Withdraw collections</a>
            </div>
        </div>
    </div>
{% endblock content %}