{%extends 'base.html'%}
{%block content%}
    <legend>Order Placed</legend>
<div class="row">
    {%for order in orders %}
        <div class="col-md-2">        
            <ul class="list-group-inline">
                <li class="list-item active">product name:{{order.item_name}}</li>
                <li class="list-item active">date-ordered:{{order.date_ordered.__format__('%b,%d,%Y')}}</li>
                <li class="list-item active">shipped:{{order.shipped}}</li>
                <li class="list-item active">paid:{{order.paid}}</li>
                <li class="list-item active">buyer:{{order.user.username}}</li>
            </ul>       
        </div>
    {%endfor%}
    <div class="col-md-2">
        <legend>half side</legend>
    </div>
</div>
{%endblock content%}
